.note {
  margin: 0 20px 20px 20px;
  /* padding: 24px 20px 17px 20px; */

  
  border-radius: 10px;
  box-shadow: 3px 4px 8px 0px #dadada;
  background-color: rgba(6, 169, 244, 0.8);
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.note__title {
  margin: 0;
  padding: 20px;
  background-color: #03a9f4;


  font-size: 18px;
}

.note__paragraph {
  padding: 38px 10px;
  margin: 0;

  color: #fff;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  padding: 20px;

  border-top: 1px solid #85cefb;
}

.links__link {
  padding: 10px 15px;
  margin: 0 10px;
  
  border-radius: 2em;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;

  transition: opacity 0.3s ease-in-out;
}

.links__link:hover {
  opacity: 0.7;
}

.links--edit {
  color: #fff;
  background-color: #01ca25;
}

.links--view {
  color: #fff;
  background-color: #06a9f4;
}

.links--delete {
  color: #fff;
  cursor: pointer;
  background-color: #fb2c2d;
}

.filter {
  margin: 35px 20px 17px 20px;
  padding: 9px;
  width: 88%;
 
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  outline: none;
  letter-spacing: 1px;
}

.margin-content {
  margin: 0 20px 40px 20px;
}

.contain-note {
  margin-top: 20px;
}

@media screen and (min-width: 961px) {

  .margin-content {
    margin: 0 40px 40px 40px;
  }
  
  .notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .note {
    width: 28%;
    margin: 30px;

    display: flex;
    flex-direction: column;
  }

  .note__title {
    font-size: 20px;
  }

  .note__paragraph {
    font-size: 18px;
  }

  .links {
    margin-top: auto;
  }

  .links__link {
    font-size: 16px;
  }

  .filter-container {
    width: 100%;

    text-align: center
  }

  .filter {
    width: 29%;
  }
}