.nav {
  padding: 20px;

  display: flex;
  justify-content: space-between;

  background-color: rgba(3, 169, 244, 0.1);
}

.nav__link {
  /* one of the links is a p tag that is used to logout */
  margin: 0;  
  
  display: inline-block;

  color: #000000;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.nav__link--margin {
  margin-right: 10px;
}

@media screen and (min-width: 961px) {
  .nav__link {
    font-size: 20px;
  }
}