.nav {
  padding: 20px 20px 35px 20px;

  display: flex;
  justify-content: space-between;
  
  background-color: #000;
}

.nav__link {
  /* one of the links is a p tag that is used to logout */
  margin: 0;  
  
  display: inline-block;

  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.nav__link--margin {
  margin-right: 10px;
}

@media screen and (min-width: 961px) {
  .nav {
    padding: 40px;
  }

  .nav__link {
    font-size: 25px;
  }
}